:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #fff;
  --boxBackground: rgba(44, 44, 44, 0.33);
  --navBackground: rgba(0, 110, 135, 0.95);
  --buttonGreen: #006e87;
  --editGreen: #70855a;
  --commentGreen: #5a6949;
  --footerGreen: #7da057;
}

#bg {
  position: fixed;
  z-index: -2;
  top: -40%;
  left: -40%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  object-fit: cover;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--white);
}

a:active {
  text-decoration: underline;
  color: var(--white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

#app {
  width: 100vw;
  margin: 0 auto;
}

/* Home Page */

/* Fade in images on App page start */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slideShowImg {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.closeBtn {
  position: absolute;
  z-index: 10;
  right: 45px;
  padding: 30px;
  cursor: pointer;
  background-color: transparent;
}

.closeBtn p {
  font-size: 2em;
  color: var(--white);
  font-weight: 900;
}

.SlideWrapper {
  z-index: 100;
}
/* Fade in images on App page end */

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
  background-color: var(--boxBackground);
  backdrop-filter: blur(27px);
  color: var(--white);
}

.logoImg {
  height: 80px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.router_links {
  display: flex;
  gap: 80px;
  font-size: 1.5em;
}

.router_link {
  font-weight: 900;
  color: var(--white);
  text-decoration: inherit;
}
.router_link:hover {
  text-decoration: underline;
  color: var(--white);
}

.router_link:active {
  text-decoration: underline;
  color: var(--white);
}

.switchSlideBtn {
  color: var(--white);
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.switchSlideBtn:hover {
  color: #fff;
  font-weight: 900;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
}

.switchSlideBtn:active {
  color: var(--white);
  font-weight: 900;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
}

.header a {
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
}

.header a:active {
  text-decoration: underline;
}

.footer {
  background-color: var(--footerGreen);
  height: 25px;
  padding: 15px 50px;
}

.footer a {
  text-decoration: underline;
  text-align: center;
  padding-right: 50px;
}

/* Explore Page */
ul {
  list-style-type: none;
  padding: 0;
}

.postList{
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 50px;
}

.postContainer {
  display: grid;
  margin: 30px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0;
}

.postImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.commentBtn {
  background-color: #5A6949;
  color: var(--white);
  font-weight: 900;
}
.commentBtn:hover {
  border-color: var(--white);
}
.commentBtn:focus,
.commentBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.editBtn {
  background-color: #7DA057;
  color: var(--white);
  font-weight: 900;
}

.buttonBox {
  display: flex;
  justify-content: space-evenly;
}

.postButtons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: larger;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--buttonGreen);
  transition: border-color 0.25s;
  color: var(--white);
  /* border-style: none; */
}

/* Commenting styling */

.commentListContainer{
  overflow: scroll;
  height: 85px;
 }

 .commentListContainer h5{
  margin: 0;
  display:inline; 
 }

 .commentListContainer p{ 
  display:inline; 
}

 .commentList{
 padding: 5px;
 }

.BOX

/* Login Page */
.container {
  background-color: var(--boxBackground);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(27px);
  overflow-y: scroll;
  color: var(--white);
}


.title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 5px;
}

input,
button {
  padding: 0.5rem 0.75rem;
  border-style: none;
}

.createBox {
  height: 30px;
  display: block;
  margin-left: 45px;
  margin-right: 45px;
}

.spaceContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;  
}

.spaceContainer span:hover {
  text-decoration: underline;
}

.desBox {
  width: 83%;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.spaceContainer span {
  color: var(--white);
  font-weight: 900;
}

/* Create Post CSS */

.back {
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: 0;
}

.createPostContainer {
  display: flex;
  justify-content: center;
}

.boxWrapper {
  width: 672px;
  padding: 40px 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--boxBackground);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(27px);
  overflow-y: scroll;
}

.centerContainer {
  display: flex;
  justify-content: center;
}

.post {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

}

.postBtn {
  background-color: var(--buttonGreen);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 900;
  width: 190px;
  height: 49px;
  /* border-style: none; */
  font-weight: 500px;
}

.signUpLink {
  font-weight: 900;
}

.postBtn:hover {
  border-style: solid;
  border-color: var(--white);
}
.postBtn:focus,
.postBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.head {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: var(--white);
  margin-top: 0;
}

/* edit post */

.editCancel {
  font-weight: 900;
}

.editDelete {
  font-weight: 900;
  background-color: #9A5353;
}

.editUpdate {
  font-weight: 900;
  background-color: #789A53;
}


@media screen and (max-width: 1500px) {
  .router_links{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    gap: 40px;
  }
  
  .postContainer {
    display: grid;
    margin: 30px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0;
  }
  .postImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .hamburger{
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .router_links{
    position: fixed;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 486.49px;
    padding: 50px 0;
    /* background-color: var(--footerGreen); */
    background-color: var(--navBackground);
    backdrop-filter: blur(27px);
    color: var(--white);
    transition: 0.5s ease-in-out;
  }

  .router_links.active{
    left: 0;

  }

  .header{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
  
  
  .logoImg {
    height: 60px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  
  /* .router_links{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    gap: 30px;
  } */


  .exploreBtn{
    text-align: center;
  }

  .boxWrapper {
    width: 376px;
    margin-left: 2rem;
  }
  .post {
    width: 600px;
  }

  .desBox {
    width: 250px;
  }
  .postContainer {
    display: grid;
    margin: 30px 50px;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0;
  }
  .postImg {
    width: 100%;
  }
  .footer {
    height: 45px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .footer a {
    text-decoration: underline;
    text-align: center;
    padding-right: 0px;
  }
  
}
