$white: #fff;
$boxBackground: rgba(44, 44, 44, 0.33);
$navBackground: #7da057f1;
$buttonGreen: #006e87;
$buttonOrange: #f0742f;
$editGreen: #70855a;
$deleteRed: #9A5353;
$commentGreen: #5a6949;
$footerGreen: #7da057;